<form action="" #form="ngForm" (ngSubmit)="update(form)">
  <div>
    <label for="">姓名</label>
    <input type="text" name="name" ngModel />
  </div>
  <div>
    <label for="">性别</label>
    <span>
      <label for="">男</label>
      <input type="radio" name="sex" value="1" ngModel />
    </span>
    <span>
      <label for="">女</label>
      <input type="radio" name="sex" value="0" ngModel />
    </span>
  </div>
  <div>
    <label for="">年龄</label>
    <input type="number" name="age" ngModel />
  </div>
  <div>
    <label for="">部门</label>
    <select name="department" id="" ngModel>
      <option [value]="item.value" *ngFor="let item of departments">{{ item.label }}</option>
    </select>
  </div>
  <button type="submit">提交</button>
</form>

<table>
  <thead>
    <tr>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>部门</th>
      <th>评价</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of list">
      <td>{{ item.name }}</td>
      <td>{{ item.sexName }}</td>
      <td>{{ item.age }}</td>
      <td>{{ item.departmentName }}</td>
      <td>{{ item.overAge }}</td>
    </tr>
  </tbody>
</table>

<div style="background-color: aquamarine;width: 100%; height: 500px;" #block>
  <button (click)="load()">
    点击载入-3s关闭
  </button>
  <button (click)="loadControl()">
    点击载入-点击弹出按钮关闭
  </button>
</div>